{% extends 'base.html.twig' %}

{% set css_style = 'show_all.css' %}

{% set page_title = 'Fingoweb - locations (course)' %}

{% block content %}

    <div class="content-md">

        <h1>Flight locations (course)</h1>
        <h3>Date: {{ date }}</h3>

        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th class="text-left">n°</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Latitude</th>
                    <th class="text-center">Longitude</th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                {% for lc in locations %}
                    <tr>
                        <td class="text-left">{{ loop.index }}</td>

                        <td class="text-center">{{ lc.time }}</td>
                        <td class="text-center">{{ lc.latitude }}</td>
                        <td class="text-center">{{ lc.longitude }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <a class="btn btn-secondary" href="{{ path('flight_index') }}" role="button">{{ 'Back'|trans }}</a>

    </div>

{% endblock %}