{% extends 'base.html.twig' %}

{% set css_style = 'show_all.css' %}

{% set page_title = 'Fingoweb' %}

{% block content %}

    <div class="content-md">

        <h1>Flights</h1>

        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th class="text-left">n°</th>
                    <th class="text-center">Pilot</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td class="text-left">1</td>
                        <td class="text-center">Sławomir Pyżalski</td>
                        <td class="text-center"><a  class="td-link" href="{{ path('location_show', {date: '2021-04-09', fileName: '149slpy11170415651.igc', key: '1'}) }}">Start point</a></td>
                        <td class="text-center"><a  class="td-link" href="{{ path('location_show', {date: '2021-04-09', fileName: '149slpy11170415651.igc'}) }}">End point</a></td>
                        <td class="text-center"><a  class="td-link" href="{{ path('location_show_all', {date: '2021-04-09', fileName: '149slpy11170415651.igc'}) }}">Course</a></td>
                        <td class="text-center"><a  class="td-link" href="{{ path('location_show_range', {date: '2021-04-09', fileName: '149slpy11170415651.igc'}) }}">Range</a></td>
                    </tr>
                    <tr>
                        <td class="text-left">2</td>
                        <td class="text-center">Wojtek Majewski</td>
                        <td class="text-center"><a  class="td-link" href="{{ path('location_show', {date: '2021-04-09', fileName: '2021-04-09_15-39410452989.igc', key: '1'}) }}">Start point</a></td>
                        <td class="text-center"><a  class="td-link" href="{{ path('location_show', {date: '2021-04-09', fileName: '2021-04-09_15-39410452989.igc'}) }}">End point</a></td>
                        <td class="text-center"><a  class="td-link" href="{{ path('location_show_all', {date: '2021-04-09', fileName: '2021-04-09_15-39410452989.igc'}) }}">Course</a></td>
                        <td class="text-center"><a  class="td-link" href="{{ path('location_show_range', {date: '2021-04-09', fileName: '2021-04-09_15-39410452989.igc'}) }}">Range</a></td>
                    </tr>
                    <tr>
                        <td class="text-left">3</td>
                        <td class="text-center">Ralf</td>
                        <td class="text-center"><a  class="td-link" href="{{ path('location_show', {date: '2021-04-09', fileName: '2021-04-09-xct-rra-161789578007.igc', key: '1'}) }}">Start point</a></td>
                        <td class="text-center"><a  class="td-link" href="{{ path('location_show', {date: '2021-04-09', fileName: '2021-04-09-xct-rra-161789578007.igc'}) }}">End point</a></td>
                        <td class="text-center"><a  class="td-link" href="{{ path('location_show_all', {date: '2021-04-09', fileName: '2021-04-09-xct-rra-161789578007.igc'}) }}">Course</a></td>
                        <td class="text-center"><a  class="td-link" href="{{ path('location_show_range', {date: '2021-04-09', fileName: '2021-04-09-xct-rra-161789578007.igc'}) }}">Range</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
